---
import { APP_CONFIG } from "@/config/Content";
import HeroBgVector from "../shared/hero-bg-vector.astro";

---


<HeroBgVector 
  className="w-full h-[calc(100vh-20rem)] gap-12 sm:bg-[url('../assets/background/resources_vector.svg')] bg-[url('../assets/background/sm_resources_vector.svg')]"
>
<div class="md:w-[36rem] w-full text-center bg-contain" id="box">
    <h1 class="sm:text-4xl text-3xl font-semibold text-grey-300">
        {APP_CONFIG.RESOURCES_PAGE.Hero.title}
    </h1>
</div>
</HeroBgVector>

<script>
    import { gsap } from "gsap";
import { ScrollTrigger } from "gsap/ScrollTrigger";

gsap.registerPlugin(ScrollTrigger);

const box = document.getElementById("box");

gsap.from(box, {
  opacity: 0,
  y: 70, // starts below
  duration: 2,
  ease: "bounce.out",
  scrollTrigger: {
    trigger: box,
    start: "top 60%", // when box enters 60% of viewport
    toggleActions: "play none none reverse", 
  },
});
</script>