---
import { formatSingleDate } from "@/utils/formatDate";

interface Props {
  title: string;
  slug: string;
  publishDate: string;
  thumbnail: string;
}

const { title, slug, publishDate, thumbnail } = Astro.props;
---

<div
  class="w-full bg-[url('../assets/background/event_container_vector.svg')] bg-[size:100%_100%] bg-[position:center_calc(100%+60rem)] bg-no-repeat"
>
  <main class="page-container my-24">
    <header class="mb-8 flex flex-col items-center justify-center gap-2">
      <h4 class="text-grey-300 text-3xl font-bold md:text-4xl">{title}</h4>
      <div class="text-grey-200 flex items-center gap-2 text-base">
        <span>UseOSM Community Event </span>
        <span class="text-grey-50 text-sm">•</span>
        <span>{formatSingleDate(publishDate)}</span>
      </div>
    </header>

    <div class="relative min-w-full overflow-hidden rounded-3xl">
      <img
        src={thumbnail}
        alt={`thumbnail-${slug}`}
        class="w-full object-cover"
      />
    </div>

    <article class="markdown-content mx-auto mt-24 max-w-[95%] md:max-w-[90%]">
      <slot />
    </article>
  </main>
</div>

<style></style>
