---
import cn from '@/utils/cn';
export interface Props {
  src: string;
  alt?: string;
  figure?: boolean;
  className: string;
}

const {
    src,
    alt = "Image",
    figure = false,
    className = "",
} = Astro.props;
---

<div class="max-w-full space-y-4 justify-center my-8">
  <img 
    src={src} 
    alt={alt} 
    class={cn("max-h-auto max-w-full rounded-lg shadow-md", className)}
  />
  {figure && <figcaption class="text-center text-sm text-gray-500 mt-2">{alt}</figcaption>}
</div>
