---
import Hero from "@/components/resources/astro-components/hero.astro";
import Layout from "@/layouts/page-layout.astro";
import { APP_CONFIG } from "@/config/Content";
import ResourceSearch from "@/components/resources/react-components/ResourceSearch";
---

<Layout
  title={APP_CONFIG.RESOURCES_PAGE.title}
  description={APP_CONFIG.RESOURCES_PAGE.description}
>
<Hero />
<section class="relative flex w-full justify-center items-center">
  <ResourceSearch client:load />
</section>

</Layout>
