---
import { APP_CONTENT } from "@/config/Content";
import cn from "src/utils/cn";
import HeroBgVector from "@/components/shared/astro-components/hero-bg-vector.astro";

const { class: className } = Astro.props;
---

<HeroBgVector
  className={cn(
    "h-[calc(100vh-20rem)] w-full gap-12",
    "bg-[url('../assets/background/sm_resources_vector.svg')]",
    "bg-[url('../assets/background/resources_vector.svg')]",
    className,
  )}
>
  <div class="w-full bg-contain text-center md:w-[36rem]" id="box">
    <h1 class="text-grey-300 text-3xl font-semibold sm:text-4xl">
      {APP_CONTENT.RESOURCES_PAGE.Hero.title}
    </h1>
  </div>
</HeroBgVector>

<script>
  import gsap from "@/utils/gsap";

  const box = document.getElementById("box");

  gsap.from(box, {
    opacity: 0,
    y: 70, // starts below
    duration: 2,
    ease: "bounce.out",
    scrollTrigger: {
      trigger: box,
      start: "top 60%", // when box enters 60% of viewport
      toggleActions: "play none none reverse",
    },
  });
</script>
