---
import cn from "src/utils/cn";

export interface Props {
  wrapperClassName: string;
  contentClassName?: string;
}

const { wrapperClassName, contentClassName } = Astro.props;
---

<section
  class={cn(
    "w-full sm:bg-[url('../assets/background/home_vector.svg')] bg-[url('../assets/background/sm_home_vector.svg')] bg-no-repeat bg-cover",
    wrapperClassName,
  )}
>
  <div
    class={cn(
      "flex flex-col h-[calc(100vh-14.5rem)] items-center justify-center",
      contentClassName,
    )}
  >
    <slot />
  </div>
</section>
